@model ProductListViewModel

<div class="box-product">
    @foreach (var p in Model.Products)
    {
        <div class="products">
            <h3 class="title">@p.Name</h3>
            <img class="img" src="@p.Img" width="300px">
            <div class="text">
                <div class="Description">@p.Description</div>
                <div class="price">@p.Price<span>$</span></div>
            </div>
        </div>
    }
</div>
<div page-model="Model.PagingInfo" page-action="Index"></div>
