model IQueryable<Product>

    @foreach (var p in Model)
    {
        <div>
            <h3>@p.firstName @p.lastName</h3>
            <h5>@p.Gender</h5>
            <h4>@p.Salary.ToString("c")</h4>
        </div>
    }
