@model ProductListViewModel

    @foreach (var p in Model.Employees)
    {
<div>
    <h3>Name: @p.firstName @p.lastName</h3>
    <p>Gender: @p.Gender</p>
    <h6>Salary: @p.Salary.ToString("c")</h6>
</div>
    }
    <div page-model="Model.PagingInfo" page-action="Index"></div>
